body {
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
	background-color: var(--color-background);
	color: var(--color-foreground);
	display: flex;
	flex-direction: column;
}

header, footer {
	background-color: var(--color-primary);
}

/* HEADER */
header {
	padding: var(--spacing-medium);
	display: flex;
	align-items: center;
}

header img {
	height: 5rem;
}

header button {
	height: 4rem;
	width: 4rem;
	padding: var(--spacing-medium);
	border: none;
	border-radius: 5px;
	margin-left: auto;
}


/* MAIN */
main {
	padding: var(--spacing-medium);
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xlarge);
}

h1 {
	font-size: 2.5rem;
}

h1, h2 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 400;
	letter-spacing: 1.5px;
}

.main-heading {
	width: 100%;
	text-align: center;
}


.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-medium);
	font-size: 20px;
	letter-spacing: 0.9px;
	line-height: 1.7;
}

.hero img {
	width: 100%;
	height: 15rem;
	object-fit: cover;
	object-position: center;
}

/* DISCOVER SECTION */
.destinations {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--spacing-xxlarge);
}

.destinations h2 {
	margin-bottom: var(--spacing-xlarge);
	font-size: 2rem;
}

.sort-buttons {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: var(--spacing-medium);
}

.sort-button {
	background: transparent;
	border: none;
	font-weight: 600;
}

.sort-button.active  {
	text-decoration: underline;
}

.sort-button:hover {
	color: var(--color-primary);
}

.destinations__cards-container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-large);	
}

.destinations__card {
	display: flex;
	align-items: center;
	gap: var(--spacing-small);
	padding: var(--spacing-medium);
	border-radius: 5px;
	background-color: var(--color-secondary);
}

.destinations__card img {
	width: 15rem;
	min-height: 10rem;
	aspect-ratio: 3/2;
	object-fit: cover;
	border-radius: 5px;
}

.card__content {	
	display: flex;
	flex-direction: column;
	gap: var(--spacing-medium);
}

.add-to-cart-button {
	background: transparent;
	height: fit-content;
	padding: var(--spacing-small);
	border: 1px solid var(--color-foreground);
	margin-left: auto;
}

.add-to-cart-button:hover {
	background-color: var(--color-hover);
}
/* FOOTER */
footer {
	padding: var(--spacing-medium);
	display: flex;
	justify-content: center;
}